# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# IDE / Editor
.vscode/
.idea/

# Distribution / Build
build/
dist/
*.egg-info/

# OS specific methods
.DS_Store
Thumbs.db
